* {
  padding: 0;
  margin: 0;
  font-size: 36px;
  color: white;
  line-height: 1.5;
  font-family: 'Microsoft Yahei';
}
html,
body {
  background: #e93005;
  font-size: 5.20833333vw;
}
img {
  max-width: 100%;
}
.wrap {
  background-image: url(../images/bg_top_pc.png);
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-width: 1200px;
  max-width: 1920px;
}
.wrap .f20 {
  font-size: 45px;
}
.wrap .tc {
  text-align: center;
}
.wrap .b {
  font-weight: bold;
}
.wrap .sTitle,
.wrap .fonts {
  font-size: 36px;
}
.wrap .content {
  width: 1200px;
  margin: 0 auto;
}
.wrap .content.bg-red {
  background-color: #d2241a;
  width: 100%;
}
.wrap .content.bg-red > div {
  width: 1200px;
  margin: 0 auto;
}
.wrap .content * {
  line-height: 2;
}
.wrap .contents {
  background-color: #b81c18;
}
.wrap .contents > div {
  width: 1200px;
  margin: 0 auto;
  line-height: 2;
}
.wrap .header {
  padding-top: 500px;
  background-image: url(../images/fonts_pc.png);
  -webkit-background-size: 1000px auto;
  background-size: 1000px auto;
  background-position: center 210px;
  background-repeat: no-repeat;
}
.wrap .price {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}
.wrap .price > div {
  float: left;
  width: 25%;
  text-align: center;
}
.wrap .price > div > img {
  height: 150px;
  display: block;
  margin: 0 auto;
}
.wrap .price > div > div {
  padding: 0 10px;
}
.wrap .price > div div {
  font-size: 30px;
}
.wrap .boxBor {
  position: relative;
  height: 619px;
  background-image: url(../images/bg_pc.jpg);
  -webkit-background-size: 1920px auto;
  background-size: 1920px auto;
  background-repeat: no-repeat;
  padding-top: 80px;
}
.wrap .boxBor .tips {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 32px;
}
.wrap .box {
  position: relative;
  margin: 0 auto;
}
.wrap .box .img {
  height: 500px;
  display: block;
  margin: 0 auto;
}
.wrap .box .btnFont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 32px;
  text-align: center;
  z-index: 2;
}
.wrap .box .pr {
  position: relative;
}
.wrap .box .drawBtn {
  position: absolute;
  width: 200px;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.wrap .qrcode {
  padding: 40px 0;
}
.wrap .qrcode img {
  width: 270px;
  display: block;
  margin: 0 auto;
}
.wrap .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.wrap .mask img {
  width: 540px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate3d(50%, 50%, 0);
  -moz-transform: translate3d(50%, 50%, 0);
  -ms-transform: translate3d(50%, 50%, 0);
  -o-transform: translate3d(50%, 50%, 0);
  transform: translate3d(50%, 50%, 0);
}
.wrap .none {
  display: none;
}
.wrap .footer {
  text-align: center;
  background-color: #ab2215;
  padding: 30px 0;
}
.wrap .footer div {
  font-size: 20px;
  line-height: 2;
}
.wrap .footer span {
  font-size: 20px;
  font-weight: bold;
}
